{% extends '../layout.html' %}

{% block title %}Add template{% endblock %}

{% block content %}
<form role="form" method="post" action="/admin/templates">
  <div class="form-group">
    <label for="template">Template name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="template">Template</label>
    <textarea type="text" class="form-control" rows=20 name="template" placeholder="Enter template"></textarea>
  </div>
  <div class="pull-right">
    <button type="submit" class="btn btn-default">Submit</button>
    <a href="/admin/templates">Back</a>
  </div>
</form>
{% endblock %}
