{% extends '../layout.html' %}

{% block title %}Admin - Pages{% endblock %}

{% set active_page = 'pages' %}

{% block content %}
<div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="/admin/pages/add" class="btn btn-primary align-right" role="button">Add page</a>
    </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>URL</th>
      <th>Template</th>
      <th>Title</th>
      <th class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for item in pages %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.route.url }}</td>
      <td>{{ item.template.name }}</td>
      <td>{{ item.title }}</td>
      <td>
        <div class="btn-toolbar pull-right" role="toolbar">
          <div class="btn-group">
            <a href="#" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="/admin/pages/{{ item.id }}/delete" class="btn btn-default btn-xs" onclick="return confirm('Delete page?')">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
