{% extends '../layout.html' %}

{% block title %}Admin - Routes{% endblock %}

{% set active_page = 'routes' %}

{% block content %}
<div class="row">
    <div class="col-md-2 col-md-offset-10">
      <a href="/admin/routes/add" class="btn btn-primary align-right" role="button">Add route</a>
    </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>URL</th>
      <th>Priority</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for item in routes %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.url }}</td>
      <td>{{ item.priority }}</td>
      <td><button type="button" class="close" aria-hidden="true">&times;</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
